.input {
    border: 1px solid var(--border);
    border-radius: var(--corners);
    padding: 0.5rem;
    width: 100%;
    font-size: 0.875rem;
    outline: none;
    transition: border-color 0.2s, box-shadow 0.2s;
    font-family: inherit;
}

.input:focus {
    border-color: var(--input-focus-border, var(--primary));
    box-shadow: 0 0 0 2px rgba(29, 88, 252, 0.4);
}

/* Chrome, Safari, Edge, Opera */
.input[type=number]::-webkit-inner-spin-button,
.input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.input[type=number] {
    -moz-appearance: textfield;
}