.filters {
    display: flex;
    justify-content: space-between;
    background: var(--bg-lighter);
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 1px solid var(--border);
    border-radius: var(--corners);
}

.fields {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.links {
    display: flex;
    gap: 0.25rem;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--bg-lighter);
    border: 1px solid var(--border);
    padding: 0.5rem;
    border-radius: var(--corners);
    width: max-content;
}

.links a {
    padding: 0.5rem;
    border-radius: var(--corners);
    color: var(--text-muted);
}

.links a:hover {
    color: var(--text);
}

.active {
    background-color: var(--bg);
    color: var(--text) !important;
}