.tabs {
    width: 100%;
}

.tabHeaders {
    display: flex;
    border-bottom: 1px solid var(--border);
    /* gray-200 */
}

.tabButton {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: var(--text-muted);
    /* gray-500 */
    transition: var(--transition-s);
    border: none;
    background: none;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}

.tabButton:hover {
    color: var(--text);
    /* gray-700 */
}

.tabButton.active {
    border-color: var(--primary);
    /* blue-500 */
    color: var(--primary);
    /* blue-600 */
}

.tabContent {
    padding: 1rem;
}