.nav {
    background: hsl(224, 97%, 15%);
    padding: 1rem;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.links {
    display: flex;
    gap: 1rem;
    transition: var(--transition-s);
}

.links a {
    position: relative;
}

.links a:hover {
    color: var(--bg-light);
}

.active {
    color: var(--bg-light) !important;
}