.nav {
    background: var(--primary);
    padding: 1rem;
}

.content {
    display: flex;
    justify-content: space-between;
}

.left {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.links {
    display: flex;
    gap: 1rem;
}