.wrapper p {
    color: var(--text-muted);

}

.videoGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

.video {
    width: 100%;
    border-radius: var(--corners);
}

.title {}

.title p {}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.card {
    padding: 1rem;
    background: var(--bg-lighter);
    border: 1px solid var(--border);
    border-radius: var(--corners);
    display: flex;
    flex-direction: column;
}

.icon {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: var(--corners);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.link {
    margin-top: auto;
    padding-top: 1rem;
    font-size: 0.8rem;
    align-self: flex-end;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline !important;
}

.tips {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.tip {
    display: grid;
    grid-template-columns: auto 1fr;
    /* align-items: flex-start; */
    gap: 0.5rem;
}

.tip svg {
    color: var(--text-muted);
    margin-top: 4px;
}